<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/b3f4d25f-0def-4667-8296-43b68b88f90e/resourceGroups/FTP-Dev/providers/Microsoft.ContainerRegistry/registries/sarvam</ResourceId>
    <ResourceName>sarvam</ResourceName>
    <ResourceGroup>FTP-Dev</ResourceGroup>
    <Subscription>AzureCSP_qnp_co_id</Subscription>
    <RegistryUrl>https://sarvam.azurecr.io/</RegistryUrl>
    <UserName>sarvam</UserName>
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>1882971d-a3a1-4952-a204-3210df0a95cb</ProjectGuid>
  </PropertyGroup>
</Project>